baseURL: "http://localhost"
title: Pod-O-Lee
theme: POD
timeout: 480000

enableRobotsTXT: true
buildDrafts: false
buildFuture: false
buildExpired: false
enableEmoji: true

minify:
  disableXML: true
  minifyOutput: true

pagination:
  pagerSize: 10

params:
  env: production # to enable google analytics, opengraph, twitter-cards and schema.
  title: Pod-O-Lee
  description: "Official website of dormitory club Pod-O-Lee"
  keywords: [ČVUT, SU ČVUT, Pod-O-Lee, dormitory]

  imgproxyUrl: http://localhost:8080
  imgHostUrl: https://s3.pod.cvut.cz/assets/web

  DateFormat: "02. 01. 2006 15:04"
  defaultTheme: auto # dark, light
  disableThemeToggle: false

  ShowReadingTime: false
  ShowShareButtons: false
  ShowPostNavLinks: false
  ShowBreadCrumbs: false
  ShowCodeCopyButtons: true
  disableSpecial1stPost: true
  disableScrollToTop: false
  comments: false
  hidemeta: false
  hideSummary: false
  showtoc: true
  tocopen: false

  assets:
    # disableHLJS: true # to disable highlight.js
    # disableFingerprinting: true
    favicon: "/pod_logo_square_name_trans.png"
    favicon16x16: "/pod_logo_square_name_trans_smaller.png"
    favicon32x32: "/pod_logo_square_name_trans_smaller.png"
    apple_touch_icon: "/pod_logo_square_name_trans_smaller.png"
    safari_pinned_tab: "/pod_logo_square_name_trans_smaller.png"

  label:
    text: Pod-O-Lee
    icon: /pod_logo_square_name_trans.png
    iconHeight: 35

  socialIcons:
    - name: "instagram"
      url: "https://www.instagram.com/pod_o_lee/"
    - name: "facebook"
      url: "https://www.facebook.com/groups/klub.Podolee"
    - name: "discord"
      url: "https://discord.gg/bSP7qnZY5y"

  analytics:
    google:
      SiteVerificationTag: "XYZabc"

  cover:
    hidden: false # hide everywhere but not in structured data
    hiddenInList: false # hide on list pages and home
    hiddenInSingle: false # hide on single page
    linkFullImages: true
    responsiveImages: true
  
  editPost:
    URL: "https://github.com/polipones/pod-hugo-main-website/tree/main/content"
    appendFilePath: true # to append file path to Edit link

  # for search
  # https://fusejs.io/api/options.html
  fuseOpts:
    isCaseSensitive: false
    shouldSort: true
    location: 0
    distance: 1000
    threshold: 0.4
    minMatchCharLength: 0
    keys: ["title", "permalink", "summary", "content"]

outputs:
  home:
    - HTML
    - JSON # Needed for search

defaultContentLanguage: cs
languages:
  cs:
    languageName: ":cs:"
    languageAltTitle: Čeština
    weight: 1
    menu:
      main:
        - name: Domů
          url: /
          weight: 1
        - name: Platby
          url: /platby
          weight: 2
        - name: Výhody členství
          url: vyhody
          weight: 3
        - name: Volný čas
          url: volnocasove-aktivity
          weight: 4
        - name: Užitečné místnosti
          url: uzitecne-mistnosti
          weight: 5
        - name: Akce
          url: akce
          weight: 6
        - name: Kontakty
          url: kontakty
          weight: 7
      footer:
        - name: Dokumenty
          url: dokumenty
          weight: 8
        - name: Hledat
          url: hledat
          weight: 9
  en:
    languageName: ":en:"
    languageAltTitle: English
    weight: 2
    menu:
      main:
        - name: Home
          url: /
          weight: 1
        - name: Payments
          url: /payments
          weight: 2
        - name: Membership benefits
          url: benefits
          weight: 3
        - name: Freetime activities
          url: freetime-activities
          weight: 4
        - name: Useful rooms
          url: useful-rooms
          weight: 5
        - name: Events
          weight: 6
          url: events
        - name: Contacts
          url: contacts
          weight: 7
      footer:
        - name: Documents
          url: documents
          weight: 8
        - name: Search
          url: search
          weight: 9
  ru:
    languageName: ":ru:"
    languageAltTitle: русский
    weight: 3
    menu:
      main:
        - name: На главную
          url: /
          weight: 1
        # - name: Услуги
        #   url: services
        #   weight: 3
        # - name: Досуг
        #   url: freetime-activities
        #   weight: 4
        # - name: Другие услуги
        #   url: useful-rooms
        #   weight: 5
        # - name: Мероприятия
        #   url: events
        #   weight: 6
        - name: Контакты
          url: contacts
          weight: 7
        - name: Поиск
          url: search
          weight: 8
      footer:
        - name: Документы
          url: documents
          weight: 8
        - name: Поиск
          url: search
          weight: 9
