section.contact-section {
    display: flex;
    flex-flow: row wrap;
}

div.contact {
    margin-top: 10px;
    margin-bottom: 10px;
    flex-basis: calc(33% - (3*3px));
    display: flex;
    flex-flow:  column wrap;
    justify-content: space-around;

    background-color: var(--entry);
    background-color: rgb(36, 36, 38);
    padding: 10px 5px;
    margin: 5px 5px;
    border-radius: 25px;
}

div.contact-photo {
    max-width: 50%;
    margin-bottom: 5px;
}

div.contact div {
    align-self: center;
}

div.contact img {
    margin: 0;
}

@media screen and (max-width: 950px) {
    div.contact {
        flex-basis: calc(50% - (2*5px));
    }
}

@media screen and (max-width: 500px) {
    section.contact-section {
        flex-flow: column;
    }
    
    div.contact {
        flex-basis: auto;
    }

    div.contact-photo {
        max-width: 60%;
    }
}
