{{ $role_people := index (.Page.Scratch.Get "people") (.Params.index) }}
{{ range $role_people }}
<p>
    {{ $person := . }}
    {{ if $person }}
        <div><strong>{{ $person.name }}</strong></div>
        <div>{{ $.Params.role }}</div>
        <div>{{ default (i18n "room" | default "Room") }}: {{ if eq $person.room "None" }} --- {{ else }} {{ $person.room }}{{ end }}</div>
        <div><a href="mailto:{{ $person.email_alias}}@pod.cvut.cz">{{ $person.email_alias }}@pod.cvut.cz</a></div>
        {{ if $person.phone }}
        <div>{{ default (i18n "phone" | default "Phone") }}: {{ $person.phone }}</div>
        {{ end }}
    {{ else }}
        <p>---</p>
    {{ end }}
</p>
{{ else }}
<p>---</p>
{{ end }}
