{{ $role_people := index (.Page.Scratch.Get "people") (.Params.index) }}
{{ range $role_people }}
<div class="contact">
    {{ $person := . }}
    {{ if $person }}
        <div class="contact-photo">
            <img
                src="{{ $person.profile_photo }}"
                alt="Photo of {{ $person.name }}"
                loading="lazy"
            />
        </div>
        <div><strong>{{ $person.name }}</strong></div>
        <div>{{ $.Params.role }}</div>
        <div>{{ default (i18n "room" | default "Room") }}: {{ if eq $person.room "None" }} --- {{ else }} {{ $person.room }}{{ end }}</div>
        <div><a href="mailto:{{ $person.email_alias}}@pod.cvut.cz">{{ $person.email_alias }}@pod.cvut.cz</a></div>
        {{ if $person.phone }}
        <div>{{ default (i18n "phone" | default "Phone") }}: {{ $person.phone }}</div>
        {{ end }}
    {{ end }}
</div>
{{ end }}
